@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
    font-family: "Roboto", sans-serif !important;
    box-sizing: border-box;
}

.dark {
    --text: #ebedef;
    --background: #06090a;
    --input: #000;
    --primary: #1838da;
    --secondary: #134b70;
    --accent: #44a0e1;
    --panel: rgba(255, 255, 255, 0.06);
}

.light {
    --text: #06090a;
    --background: #ebedef;
    --input: #fff;
    --primary: #2747e7;
    --secondary: #8ec6ec;
    --accent: #1f7bbd;
    --panel: rgba(0, 0, 0, 0.06);
}