* {
    font-family: "Roboto", sans-serif !important;
    box-sizing: border-box;
}

.dark {
    --text: #ebedef;
    --background: #06090a;
    --input: #000;
    --primary: #1838da;
    --secondary: #134b70;
    --accent: #44a0e1;
    --panel: rgba(255, 255, 255, 0.06);
    --border: #313131;
    --border-hover: #252525;
}

.light {
    --text: #06090a;
    --background: #ebedef;
    --input: #fff;
    --primary: #2747e7;
    --secondary: #8ec6ec;
    --accent: #1f7bbd;
    --panel: rgba(0, 0, 0, 0.06);
    --border: #d0d5dd;
    --border-hover: #f9f9f9;
}

#app {
  position: fixed;
  display: flex;
  flex-direction: column;
  background: var(--background);
  color: var(--text);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
